<div class="login-box" style="width: 500px; margin: 0 auto;">
	<form [formGroup]="loginForm" >
		
		<div class="login-box-body">
			<div class="log_box">
				<dl>
					<dt class="uid"><label for="username">아이디</label></dt>
					<dd><input type="text" formControlName=username class="form-control" title="아이디 입력" value="" autofocus=""></dd>
					<dt class="upw"><label for="password">패스워드</label></dt>
					<dd><input type="password" formControlName="password" maxlength="15" class="form-control" title="비밀번호 입력"></dd>
					<dt class="uid" id="caps"></dt>
				</dl>
				
				<div class="row">
					<div class="col-xs-6">
						<button class="btn btn-success btn-flat" (click)="login()">로그인</button>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-success btn-flat" routerLink="/member/signUp">회원가입</button>
					</div>
				</div>
				
				<br/>
				
				<div class="row">
					<div class="col-xs-6">
						<a class="btn btn-success btn-flat" href="/api/member/facebookLogin">facebook login</a>
						<!-- 
						<button class="btn btn-success btn-flat" (click)="facebookLogin()">facebook login</button>
						 -->
					</div>
				</div>
				
				<br/>
				
				<div class="row">
					<div class="col-xs-12">
						<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
						<div id="fb-root"></div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>