<div class="login-box" style="width: 500px; margin: 0 auto;">
	
	<div class="login-box-body">
		<div class="log_box">
			<dl>
				<dt class="uid"><label for="user_id">아이디</label></dt>
				<dd><input type="text" name="user_id" id="user_id" class="form-control" title="아이디 입력" value="" autofocus=""></dd>
				<dt class="upw"><label for="pwd">패스워드</label></dt>
				<dd><input type="password" name="pwd" id="pwd" maxlength="15" class="form-control" title="비밀번호 입력"></dd>
				<dt class="uid" id="caps"></dt>
			</dl>
			
			<div class="row">
				<div class="col-xs-6">
					<button class="btn btn-success btn-flat" routerLink="/login">로그인</button>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-success btn-flat" routerLink="/signUp">회원가입</button>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
					<div id="fb-root"></div>
				</div>
			</div>
		</div>
	</div>

</div>