<div class="login-box" style="width: 500px; margin: 0 auto;">
	
	<div class="login-box-body">
		<div class="log_box">
			<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
				<dl>
					<dt class="uid"><label for="userId">아이디</label></dt>
					<dd><input type="text" formControlName="userId" class="form-control" title="아이디 입력" value="" autofocus=""></dd>
					<dt class="upw"><label for="pwd">패스워드</label></dt>
					<dd><input type="password" formControlName="pwd" maxlength="15" class="form-control" title="비밀번호 입력"></dd>
					<dt class="upw"><label for="userName">이름</label></dt>
					<dd><input type="text" formControlName="userName" maxlength="15" class="form-control" title="이름 입력"></dd>
				</dl>
			
				<div class="row">
					<div class="col-xs-6">
						<button class="btn btn-success btn-flat" type="submit" >회원가입</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>